@{
    ViewBag.Title = "Öğretmen Portalı";
    Layout = "~/Views/Shared/_LayoutDashboardTeacher.cshtml";
}

<link href="~/css/download.css" rel="stylesheet">

<div class="d-flex flex-column justify-content-center w-100 h-100">

	<div class="d-flex flex-column justify-content-center align-items-center">
		<h1 class="fw-light text-green m-0">Staj Dosyaları</h1>

		<div class="container">
			<div class="row">
				<div class="col">
					<div class="card">
						<div class="image"></div>
						<div class="content">
							<h1>Taha EmreYavuz</h1>
							<p>Staj Onay Belgesi.</p>
							<div class="btn btn-outline dark">Belgeyi Gör</div>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="card">
						<div class="image"></div>
						<div class="content">
							<h1>Yasin Çetin</h1>
							<p>Staj Onay Belgesi.</p>
							<div class="btn btn-outline dark">Belgeyi Gör</div>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="card">
						<div class="image"></div>
						<div class="content">
							<h1>Okan Atabaş</h1>
							<p>Staj Onay Belgesi.</p>
							<div class="btn btn-outline dark">Belgeyi Gör</div>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="card">
						<div class="image"></div>
						<div class="content">
							<h1>Hüseyin Nas</h1>
							<p>Staj Onay Belgesi.</p>
							<div class="btn btn-outline dark">Belgeyi Gör</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="image"></div>
						<div class="content">
							<h1>Ömer Sevinç</h1>
							<p>Staj Onay Belgesi.</p>
							<div class="btn btn-outline dark">Belgeyi Gör</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="image"></div>
						<div class="content">
							<h1>Ata Uslu</h1>
							<p>Staj Onay Belgesi.</p>
							<div class="btn btn-outline dark">Belgeyi Gör</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="image"></div>
						<div class="content">
							<h1>Metin Sak</h1>
							<p>Staj Onay Belgesi.</p>
							<div class="btn btn-outline dark">Belgeyi Gör</div>
						</div>
					</div>
				</div>

				<div class="btn-group my-5">
					<a href="https://codepen-api-export-production.s3.us-west-2.amazonaws.com/zip/PEN/pyBNzX/1578778289271/pure-css-gradient-background-animation.zip" class="btn btn-outline-dark" aria-current="page"><i class="fas fa-file-download me-2"></i> SOURCE CODE</a>
					<a href="https://codepen.io/P1N2O/full/pyBNzX" class="btn btn-outline-dark">FULL SCREEN <i class="fas fa-expand ms-2"></i></a>
				</div>
			</div>
			

		</div>
		
	</div>
</div>
</div>