@{
    ViewBag.Title = "Öğretmen Portalı";
    Layout = "~/Views/Shared/_LayoutDashboardTeacher.cshtml";
}
@model YazGel.Models.ChangePass
<div class="container">
    <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Kişisel Bilgiler</h4>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active" id="about">
                <div class="row justify-content-center">
                    <div class="col-sm-4">
                        <div class="input-group form-control-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text mb-4">
                                    <i class="material-icons">face</i>
                                </span>
                            </div>
                            <div class="form-group bmd-form-group is-filled has-success">
                                <label for="exampleInput1" class="bmd-label-floating">İsim</label>
                                <input type="text" class="form-control" id="exampleInput1" name="firstname" required="" aria-required="true" readonly>
                            </div>
                        </div>
                        <div class="input-group form-control-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text mb-4">
                                    <i class="material-icons">face</i>
                                </span>
                            </div>
                            <div class="form-group bmd-form-group is-filled has-success">
                                <label for="exampleInput11" class="bmd-label-floating">Soy İsim</label>
                                <input type="text" class="form-control" id="exampleInput11" name="lastname" required="" aria-required="true" readonly>
                            </div>
                        </div>
                        <div class="input-group form-control-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text mb-4">
                                    <i class="material-icons">pin</i>
                                </span>
                            </div>
                            <div class="form-group bmd-form-group is-filled has-success">
                                <label for="exampleInput11" class="bmd-label-floating">Numara</label>
                                <input type="text" class="form-control" id="exampleInput11" name="number" required="" aria-required="true" readonly>
                            </div>
                        </div>
                        <div class="input-group form-control-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text mb-4">
                                    <i class="material-icons">key</i>
                                </span>
                            </div>
                            <div class="form-group bmd-form-group is-filled has-success">
                                <label for="exampleInput11" class="bmd-label-floating">Şifre</label>
                                <input type="text" class="form-control" id="exampleInput11" name="password" required="" aria-required="true" readonly>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModalLong">Sifreyi değistir</button>
                            @using (Html.BeginForm("Info", "Teacher", FormMethod.Post, new { enctype = "multipart/form-daya" }))
                            {
                                <div class="form-group has-default">
                                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Şifreyi Değiştir</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <label for="currentPass" class="bmd-label-floating">Şifreniz</label>
                                                    <input asp-for="CurrentPass" type="password" class="form-control" id="currentPass" required="" aria-required="true">

                                                    <label for="newPass" class="bmd-label-floating">Yeni Şifre</label>
                                                    <input asp-for="NewPass" type="password" class="form-control" id="newPass" required="" aria-required="true">
                                                </div>
                                                <div class="modal-footer">
                                                    <input type="button" class="btn btn-outline-dark" id="btn_show" onclick="myFunction()" value="Şifre Gör">
                                                    <input type="submit" class="btn btn-outline-dark" value="Kaydet" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    var x = document.getElementById("currentPass");
    var y = document.getElementById("newPass");
    var z = document.getElementById("confirmPass");
    function myFunction() {
        if (x.type === "password") {
            x.type = "text";
            y.type = "text";
            z.type = "text";
            document.getElementById("btn_show").value = "Şifre Gizle";
        }
        else {
            x.type = "password";
            y.type = "password";
            z.type = "password";
            document.getElementById("btn_show").value = "Şifre Göster";

        }

    }
</script>