@{
    ViewBag.Title = "Öğretmen Portalı";
    Layout = "~/Views/Shared/_LayoutDashboardTeacher.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
                <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Notlandırılan Öğrenciler</h4>
        </div>
        <div class="card-body">
            <div class="material-datatables">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>İsim - Soy İsim</th>
                            <th>Numara</th>
                            <th>Not</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">#id</td>
                            <td>isim soyisim</td>
                            <td>111111</td>
                            <td> Geçti </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>