@{
    ViewBag.Title = "Kayıt Sayfası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-full-page">
    <div class="page-header register-page header-filter" filter-color="green" style="background-image: url('../../assets/img/register.jpg')">


        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="card card-signup">
                        <h2 class="card-title text-center">Kayıt Ol</h2>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-5 ml-auto">

                                    <div class="info info-horizontal">
                                        <div class="icon icon-primary">
                                            <i class="material-icons">code</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Belgelere Erişim</h4>
                                            <p class="description">
                                                Başvuru belgelerini görüntüleyebilir onları indirebilirsin
                                            </p>
                                        </div>
                                    </div>

                                    <div class="info info-horizontal">
                                        <div class="icon icon-rose">
                                            <i class="material-icons">timeline</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Süreç</h4>
                                            <p class="description">
                                                Başvuru sürecini anlık olarak takip edebilirsin
                                            </p>
                                        </div>
                                    </div>

                                    <div class="info info-horizontal">
                                        <div class="icon icon-info">
                                            <i class="material-icons">group</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Öğretmenler ve Komisyon</h4>
                                            <p class="description">
                                                İlgili komisyon ve/veya ilgili öğretmen belgelerini görüntüleyebilir.
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-5 mr-auto">

                                    <form class="form" method="" action="">
                                        @*isim*@
                                        <div class="form-group has-default">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons">badge</i>
                                                    </span>
                                                </div>
                                                <input name="studentName" type="text" class="form-control" placeholder="İsim..">
                                            </div>
                                        </div>
                                        @*soyisim*@
                                        <div class="form-group has-default">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons">assignment</i>
                                                    </span>
                                                </div>
                                                <input name="studentSurname" type="text" class="form-control" placeholder="Soysim..">
                                            </div>
                                        </div>
                                        @*cinsiyet*@
                                            <div class="input-group input-group-static m-2">

                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons">wc</i>
                                                    </span>
                                                </div>
                                                <select class="form-control dropdown-toggle" id="exampleFormControlSelect1" title="Cinsiyet">
                                                    <option value="1">Kız</option>
                                                    <option value="0">Erkek</option>
                                                </select>
                                            </div>
                                        <div class="text-center">
                                            <a href="#" class="btn btn-primary btn-round mt-4">Kayıt Ol</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>