@{
    ViewBag.Title = "Giriş Sayfası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-full-page">
    <div class="page-header login-page header-filter" filter-color="green" style="background-image: url('../../assets/img/login.jpg'); background-size: cover; background-position: top center;">


        <div class="container">
            <div class="row">
                <div class="">
                    <span class="d-inline"> <h2>Kocaeli Üniversitesi Staj Başvuru Ve Takip Sistemine Hoş Geldiniz.</h1></span>
                </div>

                <div class="col-md-7">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title ml-5 pl-2">Giriş Yapmak İçin</h5>
                            <a class="ml-5 mr-5 btn btn-secondary btn-outline-light d-inline" asp-area="" asp-controller="Login" asp-action="Index">
                                <i class="ml-3 pl-3 pr-3 mr-3 material-icons">fingerprint</i>
                            </a>
                        </div>
                    </div>
                </div>
               
                <div class="col-md-5 pl-5">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title ml-5 pl-3">Kayıt olmak için</h5>
                            <a class="ml-5 mr-4 pl-5 pr-5 btn btn-secondary btn-outline-light d-inline" asp-area="" asp-controller="SignUp" asp-action="Index">  <i class="ml-3 mr-2 pr-2 pl-2 material-icons">person_add</i> </a>
                        </div>
                    </div>
                </div>                
            </div>
        </div>

    </div>
</div>