@{
    ViewBag.Title = "Öğrenci Portalı";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<form id="pdf" action="upload.php" method="POST">
    <input id="pdfinput" type="file" multiple>
    <p>Staj Dosyasını Yükleyin</p>
    <button id="buttonpdf" type="submit">Yükle</button>
</form>

