
@{
    ViewData["Title"] = "TimeLine";
    Layout = "~/Views/Shared/_LayoutDashboardStudent.cshtml";
}

<style>
    .timeline-with-icons {
        border-left: 1px solid hsl(0, 0%, 90%);
        position: relative;
        list-style: none;
    }

        .timeline-with-icons .timeline-item {
            position: relative;
        }

            .timeline-with-icons .timeline-item:after {
                position: absolute;
                display: block;
                top: 0;
            }

        .timeline-with-icons .timeline-icon {
            position: absolute;
            left: -48px;
            background-color: hsl(217, 88.2%, 90%);
            color: hsl(217, 88.8%, 35.1%);
            border-radius: 50%;
            height: 31px;
            width: 31px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
</style>


<div class="container ">
    <section class="p-2 d-flex align-items-center justify-content-center">
        <ul class="timeline-with-icons pr-5">
            <li class="timeline-item mb-5 pr-4">
                <span class="timeline-icon">
                    <i class="material-icons">quiz</i>
                </span>

                <h5 class="fw-bold">Staj Değerlendirilme sürecinde</h5>
                <p class="text-muted mb-2 fw-bold">4 Kasım 2022</p>
                <p class="text-muted">
                    Lorem ipsum
                </p>
            </li>

            <li class="timeline-item mb-5">

                <span class="timeline-icon">
                    <i class="fas fa-hand-holding-usd text-primary fa-sm fa-fw"></i>
                </span>
                <h5 class="fw-bold">First customer</h5>
                <p class="text-muted mb-2 fw-bold">19 March 2020</p>
                <p class="text-muted">
                    Quisque ornare dui nibh
                </p>
            </li>

            <li class="timeline-item mb-5">

                <span class="timeline-icon">
                    <i class="fas fa-users text-primary fa-sm fa-fw"></i>
                </span>
                <h5 class="fw-bold">Our team exceeds 10 people</h5>
                <p class="text-muted mb-2 fw-bold">24 June 2020</p>
                <p class="text-muted">
                    Orci varius natoque penatibus et magnis dis parturient montes
                </p>
            </li>

            <li class="timeline-item mb-5">

                <span class="timeline-icon">
                    <i class="fas fa-money-bill-wave text-primary fa-sm fa-fw"></i>
                </span>
                <h5 class="fw-bold">Earned the first million $!</h5>
                <p class="text-muted mb-2 fw-bold">15 October 2020</p>
                <p class="text-muted">
                    Nulla ac tellus convallis, pulvinar nulla ac, fermentum diam.
                </p>
            </li>
        </ul>
    </section>
</div>

<!-- Section: Timeline -->